---
import { bookPath } from "../lib/utils";
---

<footer class="foot">
  <div>
    <h5>Site</h5>
    <a href="/">Home</a>
    <a href={bookPath("/")}>The Elastic Playbook</a>
    <a href={bookPath("/workshops")}>Workshops</a>
  </div>
  <div>
    <h5>Playbook</h5>
    <a href={bookPath("/")}>Overview</a>
    <a href={bookPath("/book")}>Book</a>
    <a href={bookPath("/articles")}>Articles</a>
    <a href={bookPath("/resources")}>Resources</a>
  </div>
  <div>
    <h5>Elsewhere</h5>
    <a href="https://github.com/bdevz/elastic-playbook-site">GitHub</a>
    <a href="mailto:hi@bharats.com">Email</a>
  </div>
  <div class="foot__colophon">
    <span>© 2026 Bharat · bharats.com</span>
    <span>Independent field notes on Elastic, AI, and enterprise architecture</span>
  </div>
</footer>
